.on {
  font-size: 30px;
  margin-top: -40px;
  background: linear-gradient(
    to right,
    #ff3c78,
    #8f68ff,
    #487bff,
    #68ff81,
    #3e2f5b,
    #362246
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.footer {
  border-top: 1px solid gainsboro;
  padding: 15px;
  background-color: #362246;
  color: white;
}

.st1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.ul {
  p {
    font-size: 15px;
    font-weight: 500;
  }
}

.ic {
  gap: 30px;
  font-size: 25px;
  border-bottom: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.d {
  width: 300px;
  height: 2px;
  border: 1px solid gainsboro;
  margin-top: 5px;
  margin-bottom: 5px;
}

.h {
  text-align: center;
}
