@import "tailwindcss";

.wl {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
}

.img {
  width: 450px;
  height: 450px;
  border-radius: 20px;
}

.db {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  gap: 400px;
}

.p {
  font-size: 15px;
  margin: 10px;
}
.btn {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  color: #c3acea;
  background-color: #799851;
  border: none;
  text-align: end;
}

.btn:hover {
  color: #c3acea;
  cursor: pointer;
  border: 1px solid #a66f5d;
  background-color: #903489;
}

.im {
  width: 200px;
  height: 200px;
  border-radius: 19px;
}

.stage2 {
  display: flex;
  padding: 30px 30px;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 150px;
  h1 {
    font-size: 40px;
    font-weight: bolder;
  }

  P {
    font-size: 20px;
  }
}

.rd {
  display: flex;
}

.stage3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 100px auto;
  width: 90%;
  overflow-x: auto;
  border-radius: 41px;
  background: #465;
  box-shadow: 15px 15px 30px #989898, -15px -15px 30px #989898;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: scroll 5s infinite linear;
}

.stage3::-webkit-scrollbar {
  display: none;
}

.g {
  font-size: 20px;
  font-weight: bolder;
}

.card {
  width: 350px;
  height: 360px;
  padding: 15px;
  border-radius: 20px;
  color: white;
  border: 1px solid black;
  box-shadow: 15px 15px 30px #989898, -15px -15px 30px #989898;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.h {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.im1 {
  width: 240px;
  height: 250px;
}

.light {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  transition: background-color 1.3s ease, color 1.3s ease;
}

.dark {
  background-color: #0f0f0f;
  color: #ffffff;
}

* {
  transition: background-color 1.3s ease, color 1.3s ease;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}
