.div {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid gainsboro;
  h2 {
    font-size: 20px;
    font-weight: bolder;
  }

  ul {
    display: flex;
    gap: 20px;
  }
}

.on {
  font-size: 30px;
  background: linear-gradient(
    to right,
    #ff3c78,
    #8f68ff,
    #487bff,
    #68ff81,
    #3e2f5b,
    #362246
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    position: relative;
    padding: 0 10px;
  }
}

li::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

li:hover {
  color: grey;
}

li:hover::after {
  width: 100%;
}

.btn {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
}
